PORT=3000
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=cosmetics_crm
DB_USER=root
DB_PASSWORD=root
DB_DIALECT=mariadb
DB_CONNECT_TIMEOUT=10000
JWT_SECRET=super_secret_key
ADMIN_LOGIN=admin
ADMIN_PASSWORD=admin123
DB_SYNC_ON_START=false
